<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
		<script>
			MathJax.Hub.Config({
				tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
			});
		</script>
		<!-- Latest compiled JavaScript -->	
		<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script-->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='bower_components/mathlive/dist/mathlive.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/drawingboard.js/dist/drawingboard.js') }}"></script>
        <script src="{{ url_for('static', filename='bower_components/simple-undo/lib/simple-undo.js') }}"></script>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='bower_components/drawingboard.js/dist/drawingboard.min.css') }}"/>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rancho" />
	</head>
	<body>
		<header>
			<!-- Navbar -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<b><a class="navbar-brand" href="#" style="color:#8b008b;">Math's Automatic</a></b>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#example">Examples</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#about">About</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<section>
			<div class = "continer align-items-center">
				<div class = "container text-center">
					<h1 style = " font-family: Rancho; ">Discrete Mathematics</h1>
				</div>
			</div>
			<div class = "container align-items-center text-center">
				<div class ="row">
					<div class="col text-primary" style="margin:1em;box-shadow: 0 3px 10px #ADD8E6; border-radius: 50px 15px;">
						<h4 style = " font-family: Rancho; padding-top:1em;">GCD & LCM</h4>
						<div class="container text-body">
							<h5 style="cursor:pointer" id = "p1">lcm(90, 342)</h5>
							<h5 style="cursor:pointer" id = "p2">are 12 and 21 coprime?</h5>
							<h5 style="cursor:pointer" id = "p3">Euler phi 36</h5>
							<h5 style="cursor:pointer" id = "p4">totient 13</h5>
						</div>
					</div>
					<div class="col text-warning" style="margin:1em;box-shadow: 0 3px 10px #FFD580;border-radius: 50px 15px;">
						<h4 style = " font-family: Rancho; padding-top:1em;">Primality Testing</h4>
						<div class="container text-body">
							<h5 style="cursor:pointer" id = "p5">is 73 prime?</h5>
							<h5 style="cursor:pointer" id = "p6">primality 290</h5>
						</div>
					</div>
					<div class="col text-success" style="margin:1em;box-shadow: 0 3px 10px #90EE90;border-radius: 50px 15px;">
						<h4 style = " font-family: Rancho; padding-top:1em;">Integer factorization</h4>
						<div class="container text-body">
							<h5 style="cursor:pointer" id = "p7">factor 72</h5>
							<h5 style="cursor:pointer" id = "p8">5040 factorization</h5>
							<h5 style="cursor:pointer" id = "p9">factor 47</h5>
						</div>
					</div>
				</div>
				<div class ="row">
					<div class="col text-primary" style="margin:1em;box-shadow: 0 3px 10px #ADD8E6;border-radius: 50px 15px;">
						<h4 style = " font-family: Rancho; padding-top:1em;">Divisors</h4>
						<div class="container text-body">
							<h5 style="cursor:pointer" id = "p10">divisors of 45</h5>
							<h5 style="cursor:pointer" id = "p11">factors of 39</h5>
							<h5 style="cursor:pointer" id = "p12">divisors 19</h5>
							<h5 style="cursor:pointer" id = "p13">number of divisors of 20</h5>
							<h5 style="cursor:pointer" id = "p14">sum of divisors of 30</h5>
							<h5 style="cursor:pointer" id = "p15">\begin{equation*} \text{ divisor }\sigma (2, 15)\end{equation*}</h5>
						</div>
					</div>
					<div class="col text-warning" style="margin:1em;box-shadow: 0 3px 10px #FFD580;border-radius: 50px 15px;">
						<h4 style = " font-family: Rancho; padding-top:1em;">Base Conversions</h4>
						<div class="container text-body">
							<h5 style="cursor:pointer" id = "p16">\begin{equation*} \text{ convert }33ab3653_{12} \text{ to base }10 \end{equation*}</h5>
							<h5 style="cursor:pointer" id = "p17">what is 1000 in base 2?</h5>
							<h5 style="cursor:pointer" id = "p18">0xa4fb in binary</h5>
							<h5 style="cursor:pointer" id = "p19">\begin{equation*} \text{ convert }cat_{36}\text{ to base }35 \end{equation*}</h5>
						</div>
					</div>
					
				</div>
			</div>
		</section>
		<footer class="bg-light text-center text-lg-start" >
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2021 Non-Copyright:
				<a class="text-dark" href=""><img src ="{{ url_for('static', filename='images/r.png') }}" style = "height:25px;width:25px;"/> </a>
			</div>
		</footer>
		<script>
			document.getElementById("p1").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","lcm(90, 342)");
			};
			document.getElementById("p2").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","are 12 and 21 coprime?");
			};
			document.getElementById("p3").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","Euler phi 36");
			};
			document.getElementById("p4").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","totient 13");
			};
			document.getElementById("p5").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","is 73 prime?");
			};
			document.getElementById("p6").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","primality 290");
			};
			document.getElementById("p7").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","factor 72");
			};
			document.getElementById("p8").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","5040 factorization");
			};
			document.getElementById("p9").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","factor 47");
			};
			document.getElementById("p10").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","divisors of 45");
			};
			document.getElementById("p11").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","factors of 39");
			};
			document.getElementById("p12").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","divisors 19");
			};
			document.getElementById("p13").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","number of divisors of 20");
			};
			document.getElementById("p14").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","sum of divisors of 30");
			};
			document.getElementById("p15").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","divisor sigma(2, 15)");
			};
			document.getElementById("p16").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","convert 33ab3653 base 12 to base 10");
			};
			document.getElementById("p17").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","what is 1000 in base 2?");
			};
			document.getElementById("p18").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","0xa4fb in binary");
			};
			document.getElementById("p19").onclick = function () {
				location.href = "solution";
				sessionStorage.setItem("latex","convert cat from base 36 to base 35");
			};
		</script>
	</body>
</html>